* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1b24;
  font-family: 'Roboto Slab', serif;
  color: white;
}

html, body {
  height: 100%;
}

.page-content {
  min-height: 100%;
  /*negative number is the same of footer height*/
  margin-bottom: -90px;
}

.page-content::after {
  content: "";
  display: block;
  /*The same of footer height*/
  height: 90px;
}

a, a:visited, a:active {
  color: #cc3a39;
  text-decoration: none;
  border-bottom: 1px #cc3a39 dotted;
}

header {
  background-color: white;
}

header h1 {
  color: #1a1b24;
  text-align: center;
  padding: 25px;
}

.score-board {
  border: 2px solid white;
  border-radius: 5px;
  width: 200px;
  margin: 20px auto;
  padding: 20px 30px;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.player {
  position: absolute;
  background-color: #cc3a39;
  width: auto;
  font-size: 15px;
  padding: 5px 15px;
}

#user-label {
  top: 30px;
  left: -30px;
}

#CPU-label {
  top: 30px;
  right: -30px;
}

.result-message p {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.choises {
  margin-top: 50px;
  text-align: center;
}

.choise {
  display: inline-block;
  padding: 15px;
  margin: 0 20px;
  border: 4px solid white;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.choise:hover {
  cursor: pointer;
  background-color: #16171e;
}

.choise img {
  width: 64px;
  height: 64px;
}

#message {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin: 30px;
}

footer {
  height: 90px;
  padding: 15px 0;
  background-color: white;
  font-size: 14px;
  font-style: italic;
  color: #1a1b24;
  text-align: center;
}

.find-me {
  margin-top: 5px;
  font-size: 30px;
}

.find-me a, .find-me a:visited {
  margin: 0 2.5px;
  border: none;
  color: #1a1b24;
  transition: all 0.3s ease;
}

.find-me a:hover {
  color: #cc3a39;
}

.win-glow {
  border: 4px solid #4dcc7d;
  box-shadow: 0 0 10px #31b34a;
}

.draw-glow {
  border: 4px solid #464647;
  box-shadow: 0 0 10px #25292b;
}

.lose-glow {
  border: 4px solid #fc121b;
  box-shadow: 0 0 10px #d01115;
}


/*
  Responsive
*/
@media screen and (min-width: 320px) {
  .choise { margin: 0 5px;}
  .choise img {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 410px) {
  .choise { margin: 0 10px;}
  .choise img {
    width: 64px;
    height: 64px;
  }
}
